doctype html
html
  head
    != CDN('/images/favicon.ico')

    // fonts
    link(href='//fonts.googleapis.com/css?family=Raleway:400,500', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Merriweather:300,400,500', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')

    // jQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    // CSS
    != CDN(['styles/project.css', 'styles/style.css'])

    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title will tachau
    meta(name='description', content='Your official resource for all things Will Tachau')
  body
    #page1
      span#compScore.score
      span#yourScore.score
      #name will tachau
      #brick_text(style='display:none;')
      #subtext software engineer

      span#pause-container(onclick='toggle_pause()')
        != CDN('/images/pause.png', { 'id': 'pause'})
        != CDN('/images/play.png', { 'id': 'play', 'style': 'display: none;'})
    #page1-mobile
      #name will tachau
      #subtext software engineer
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52110088-1', 'willtachau.com');
      ga('send', 'pageview');

  if useBundledAssets
    != CDN('/index-bundle.js')
  else
    script(src='/index.bundle.js')



