body {
	background-color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}

a {
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

/* PAGE 1 */

#name {
	width: 175;
	margin: 0 auto;
	color: #696C74;
	font-size: 35;
	font-family: Raleway;
	position: absolute;
}

#subtext {
	font-family: Merriweather;
	width: 173;
	margin: 0 auto;
	color: #505050;
	font-size: 18;
	position: absolute;
	text-align: center;
}

.score {
	position:absolute;
	color:#0DFD55;
	font-family: 'Press Start 2P';
	font-size: 14px;
}

#morelink {
	position:absolute;
	text-decoration: none;
	width:100%;
	margin-top:-44px;
	font-family: Raleway;
	font-size:17;
	text-align: center;
	color: #696C74;
	cursor: pointer;
}

#morearrow {
	margin-top: -10px;
	width: 2.5%;
}

#pause {
	width: 34;
	position: absolute;
	right: 17;
	bottom: 22;
}
#bottomtext {
	color: white;
	text-align: center;
	position: absolute;
	bottom: 5px;
	color: #696C74;
	width: 100%;
	font-family: Raleway;
}

/* PAGE 2 */

#page2 {
	background: url(images/background.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height: 600px;
	font-family: Merriweather;
	text-align: center;
	width:100%;
	color:white;
	padding-top:100;
}

.prof_pic {
	position: absolute;
	margin-left: -339px;
	margin-top: 15px;
}

.prof_pic img{
	width: 306px;
}

#computer {
	position: relative;
	z-index: 1;
}

#more_info {
	padding: 10px 0px 10px 0px;
	background: rgba(0,0,0,0.5);
	width: 80%;
	margin: auto auto;
	margin-top: 35px;
	border-radius: 15px;
}

#desc_links {
	width:100%;
	color:white;
}

#desc_links td{
	table-layout: fixed;
	text-align: center;
	width: 33%;
}

.portfolio img {
	width:200px;
}

/* Special effects */
.blur img {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(2px);
}


