{% load staticfiles %}
<head>
	{% include "header.html" %}
	<title>will tachau</title>
	<meta name="description" content="Check out Will Tachau's home page. Check back soon for up." />

	<!-- For Parallax -->
	<script type="text/javascript">
		$(document).ready(function(){
			//$('#nav').localScroll(800);
			
			//.parallax(xPosition, speedFactor, outerHeight) options:
			//xPosition - Horizontal position of the element
			//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
			//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
			//$('#intro').parallax("50%", 0.1);
			//$('#page2').parallax("50%", 0.2);
			//$('.bg').parallax("50%", 0.4);
			//$('#third').parallax("50%", 0.3);

		})
	</script>
</head>

<body>

	<!-- Page 1: Games -->
	<div id="page1">
		<!-- For Pong -->
		<script src="{% static 'js/pong.js' %}"></script>
		<script src="{% static 'js/snake.js' %}"></script>
		<script src="{% static 'js/brick.js' %}"></script>
		<script src="{% static 'js/games.js' %}"></script>
		<span id="comp_score" class="score"></span>
		<span id="your_score" class="score"></span>
		<span id="name">will tachau</span>
		<span id="brick_text" style="display:none;"></span>
		<span id="subtext">software engineer<br>originate, inc.<br>pomona college '14</span>
		<div id="bottomtext">to get in touch, or out of sheer curiosity, feel free to see my <a target="_blank"  href="https://www.linkedin.com/in/willtachau">resume</a> or <a href="mailto:wtachau@gmail.com">email me</a> directly.</span>
		<!-- <span id="morelink"> more<br>
			<img id="morearrow" src="{% static 'images/down_arrow.png' %}">
			<br>
		</span> -->
		<span onclick="pause_game()">
			<img id="pause" src="{% static 'images/pause.png' %}">
		</span>
	</div>	

	<!-- Page 2: Info -->
	<!-- <div id="page2">  -->

		<!-- <div id="computer_profile">
			<img id="computer" src="{% static 'images/computer.png' %}">
			<span class="prof_pic"><img src = "{% static 'images/pool.jpg' %}"></span>-->
			<!--<span class="prof_pic"><img src = "{% static 'images/pool.jpg' %}"></span>
			<span class="prof_pic"><img src = "{% static 'images/scot.jpg' %}"></span>-->
		<!-- </div>
		<div id="more_info">
			professional software engineer.<br>
			I love clean, well designed code with elegant solutions. <br>
			see my most recent client projects below:<br><br>
			<table id="desc_links">
				<tr>
					<td class="portfolio blur">
						<a target="_blank"  href="http://www.greenzebragrocery.com/">
							<img src= "{% static 'images/gzg.png' %}">
						</a>
					</td> -->

					<!-- Github -->
					<!-- <td class="portfolio blur">
						<a target="_blank" href="https://claremontmunchies.herokuapp.com">
							<img src= "{% static 'images/munchies.png' %}">
						</a>
					</td> -->

					<!-- Email -->
					<!-- <td class="portfolio blur">
						<a target="_blank" href="http://allenamabisca.com/">
							<img src= "{% static 'images/allen.png' %}">
						</a>
					</td>
				</tr>
			</table>
			<br>
			to get in touch, or out of sheer curiosity, feel free to see my <a target="_blank"  href="https://www.linkedin.com/in/willtachau">resume</a> or <a href="mailto:wtachau@gmail.com">email me</a> directly.
		</div> -->		
	<!-- </div> -->

</body>
<script src="{% static 'js/scroll.js' %}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52110088-1', 'willtachau.com');
  ga('send', 'pageview');

</script>