{% load staticfiles %}
<head>
	{% include "header.html" %}
	<title>will tachau</title>

	<!-- For Parallax -->
	<script type="text/javascript">
		$(document).ready(function(){
			//$('#nav').localScroll(800);
			
			//.parallax(xPosition, speedFactor, outerHeight) options:
			//xPosition - Horizontal position of the element
			//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
			//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
			//$('#intro').parallax("50%", 0.1);
			$('#page2').parallax("50%", 0.2);
			//$('.bg').parallax("50%", 0.4);
			//$('#third').parallax("50%", 0.3);

		})
	</script>
</head>

<body>

	<!-- Page 1: Games -->
	<div id="page1">
		<script src="{% static 'js/pong.js' %}"></script>
		<span id="comp_score" class="score"></span>
		<span id="your_score" class="score"></span>
		<span id="name">will tachau</span>
		<span id="subtext">software engineer<br>pomona college '14</span>

		<span id="morelink"> more<br>
		<img id="morearrow" src="{% static 'images/down_arrow.png' %}">
		</span>
	</div>	

	<!-- Page 2: Info -->
	<div id="page2"> 

		<div id="computer_profile">
			<img id="computer" src="{% static 'images/computer.png' %}">
			<span class="prof_pic"><img src = "{% static 'images/meoverland.jpg' %}"></span>
		</div>
		<div id="more_info">
			<table id="desc_links">
				<tr>
					<!-- LinkedIn -->
					<td>
						<a target="_blank"  href="https://www.linkedin.com/in/willtachau">
							<img style="width:50px;" src= "{% static 'images/linkedin.png' %}">
						</a>
					<br>LinkedIn
					</td>

					<!-- Github -->
					<td>
						<a target="_blank" href="https://github.com/wtachau">
							<img style="width:50px;" src= "{% static 'images/github.png' %}">
						</a>
					<br>Github
					</td>

					<!-- Email -->
					<td>
						<a href="mailto:wtachau@gmail.com">
							<img style="width:50px;" src= "{% static 'images/webmail.png' %}">
						</a>
					<br>Email me
					</td>
				</tr>
			</table>
			<br>more content to follow, check back soon!
			<br>
			also, check out my friend's <a style="color:white" target="_blank" href='http://www.jamesreinke.com'>amazing website!</a> 
		</div>

		
	</div>

</body>
<script src="{% static 'js/scroll.js' %}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52110088-1', 'willtachau.com');
  ga('send', 'pageview');

</script>